<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <%= render(Editor::HeaderComponent.new) %>

  <div class="py-10">
    <header class="flex items-center mx-auto max-w-7xl">
      <div class="flex-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= I18n.t("views.editor.movies.index.title") %></h1>
      </div>
      <div class="px-4 sm:px-6 lg:px-8 sm:ml-16 sm:flex-none">
        <%=
          render(Common::LinkComponent.new(
                  text: I18n.t("views.editor.movies.index.add_movie"),
                  link: editor_new_movie_path,
                  display_as_button: true
                ))
        %>
      </div>
    </header>
    <main>
      <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
            </div>
          </div>
          <div class="flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                  <thead>
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"><%= I18n.t("views.editor.movies.index.table_headers.title") %></th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= I18n.t("views.editor.movies.index.table_headers.type") %></th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= I18n.t("views.editor.movies.index.table_headers.description") %></th>
                      <th scope="col" class="text-center px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= I18n.t("views.editor.movies.index.table_headers.year") %></th>
                      <th scope="col" class="text-center px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= I18n.t("views.editor.movies.index.table_headers.status") %></th>
                      <th scope="col" class="text-center px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= I18n.t("views.editor.movies.index.table_headers.actions") %></th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-200 bg-white">
                    <% @movies.each do |movie| %>
                      <%= render(Editor::MovieRowComponent.new(movie:)) %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
