<div class="bg-white">
  <%= turbo_frame_tag "profiles" do %>
    <div class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8">
      <div class="text-center">
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= t("views.secure.profiles.index.who_is_watching") %></p>
      </div>

      <div class="mt-11 grid grid-cols-1 items-start gap-x-6 gap-y-16 sm:mt-16 sm:grid-cols-2 lg:grid-cols-4 lg:gap-x-8">
        <% @profiles.each do |profile| %>
          <%= link_to profiles_select_path(code: profile.code), method: :post, data: { turbo_method: "post", turbo_frame: "_top" } do %>
            <div class="cursor-pointer flex flex-col-reverse">
              <div class="mt-6">
                <h3 class="text-2xl font-medium text-gray-900 text-center"><%= profile.name %></h3>
              </div>
                <% if profile.avatar.attached? %>
                  <%= image_tag profile.avatar, class: "shadow-md object-cover object-center rounded-full" %>
                <% else %>
                  <%= image_tag "user_avatar_placeholder.png", class: "shadow-md object-cover object-center rounded-full " %>
                <% end %>
            </div>
          <% end %>
        <% end %>
        <%= link_to profiles_new_path, class:"cursor-pointer flex flex-col-reverse", data: { turbo_frame: "_top" } do %>
          <div class="mt-6">
            <h3 class="text-2xl font-medium text-gray-900 text-center"><%= t("views.secure.profiles.index.add_profile") %></h3>
          </div>
          <div class="shadow-md aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
            <img src="https://tailwindui.com/img/ecommerce-images/product-feature-08-detail-03.jpg" alt="Tony" class="object-cover object-center">
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
