<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Netflix" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag "tailwind", "inter-font", Rails.env.production? ? "reload" : "" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <script src="//cdn.jsdelivr.net/npm/hls.js@1"></script>

    <script src="//vjs.zencdn.net/8.18.1/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-hls-quality-selector@2.0.0/dist/videojs-hls-quality-selector.min.js"></script>
  </head>

  <body>
    <main>
      <% flash.each do |type, message| %>
        <%= render(FlashAlertComponent.new(type:, message:)) %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
